@use "../../styles/partials/mixins" as *;

.react-activity-calendar{
    border: 1px solid #3D3B3E;
    padding: 1rem;
    border-radius: 12px;
    width: 95% !important;
    @include tablet{
        flex-basis: 50%;
        margin-left: 0;
    }

    &__calendar{
        margin: 0 auto;
    }

    &__count{
        font-size: 0.75rem;
        font-family: 'Inter', 'system-ui', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
        @include tablet{
            font-size: 0.875rem;
        }
    }

    &__footer{
        font-size: 0.75rem;
        font-family: 'Inter', 'system-ui', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
        @include tablet{
            font-size: 0.875rem;
        }
    }
}