@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #101010;
}

@media (min-width: 768px) {
  section, header {
    max-width: 850px;
  }
}

.nowrap{
  text-wrap: nowrap;
}