.header-overlay{
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url('../../assets/images/noise_texture.svg');
        background-position-x: center;
        opacity: 0.7;
        mix-blend-mode: lighten;
    }
}

.btn{
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0.5rem;
    background-color: white;
    border-radius: 0.75rem;
    color: black;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    top: -1.5rem;
    background-position-x: 0.3rem;
    &__git{
        background-image: url('../../assets/logos/github-mark.svg');
        background-size: 1.5rem;
    }
    &__link{
        background-image: url('../../assets/logos/iconmonstr-linkedin-3.svg');
    }
}