.tooltip{
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    min-width: max-content;
    padding: 0.3rem;
    border-radius: 5px;
}

.tooltip::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translateX(-50%);
    border: 7px solid;
    border-color: #6F7680 #0000 #0000 #0000;
}